<!DOCTYPE html>
<html>
<head>
  <title>Fearless</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <link href='//fonts.googleapis.com/css?family=Permanent+Marker' rel='stylesheet' type='text/css'>  <%= csrf_meta_tags %>
  <link href='//fonts.googleapis.com/css?family=Source+Sans+Pro:400,700,400italic|Playfair+Display+SC:400,700,400italic' rel='stylesheet' type='text/css'></head>


<!-- <div id="main"> -->
<%= yield %>
<!-- </div> -->
</body>

</html>
